<!-- InterPolation -->

<div style="text-align: center;">
    <!-- <button (click)="changeCity()">Change City</button>
    My city: <b>{{city}}</b> -->
    <!-- <div>
        Arithmetical Operation: {{num1 + num2}}<br>
        Arithmetical Operation: {{num1 - num2}}<br>
        Arithmetical Operation: {{num1 * num2}}<br>
        Arithmetical Operation: {{num1 / num2}}<br>
        Arithmetical Operation: {{num1 / 50}}<br>
        Arithmetical Operation: {{num1 + "50"}}<br>
    </div> -->


    <!-- Error Handling in Interpolation-->
    <!-- 
Name: {{company && company.name}}<br>
City: {{company && company.city}}<br>
State: {{company && company.state}}<br>
Country: {{company && company.country}}<br> -->

    <!-- With ternary operator -->
    <!-- <div>
        Name: {{company ? company.name:'No Data'}}<br>
        City: {{company ? company.city:'No Data'}}<br>
        State: {{company ? company.state:'No Data'}}<br>
        Country: {{company ? company.country:'No Data'}}<br>
    </div> -->

    <!-- 
    <table border="1">
        <tr>
            <td [attr.colspan]="col">Employee Details</td>
        </tr>
        <tr>
            <td>First Name</td>
            <td>Abhishek</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>Bamne</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Male</td>
        </tr>
    </table> -->


    <!-- Property Binding -->
    <!-- <h3>Property Binding</h3>
    <span [innerHTML]="city"></span>
    <h3>InterPolation</h3>
    <span innerHTML="{{city}}"></span>


    <h3>Property Binding</h3>
    <img [src]="imgPath" alt="one" height="100">
    <h3>InterPolation</h3>
    <img src="{{imgPath}}" alt="one" height="100"> -->

    <!-- Difference between Interpolation and Property Binding -->


    <!-- <h3>Property Binding</h3>
    <button [disabled]="currentValue">Click me</button>
    <h3>InterPolation</h3>
    <button disabled="{{currentValue}}">Click me</button>
    <br>
    <br>
    <button (click)="enableDisable()">Enable Disable</button> -->

    <!-- <h3>Style Binding</h3>
    <button style="background-color: red;">Red</button>
    <button style="background-color: green;" [style.font-weight]="'900'">Green</button>
    <button style="background-color: blue;" [style.font-size.px]="font">Blue</button> -->

    <!-- 
    <h3>Class Binding</h3>
    <button class="colorClass">Color Class</button><br>
    <button class="colorClass" [class]="classesToApply">Color Class</button> -->

    <h3>Event Binding</h3>

    <button (click)="clickMe()">Click Me1</button>
    <button on-click="clickMe2()">Click Me2</button>

    <div>
        <!-- <input type="text" (keyup)="keyup()" (keydown)="keydown()"> -->
        <!-- <input type="text" on-keyup="keyup()" on-keydown="keydown()"> -->
        <div>
            Enter Your Name:
            <input type="text" #txtname on-keyup="keyup(txtname.value)">

        </div>
        <div>
            Your Name: {{name}}

        </div>
    </div>
</div>